body{
    background-color: #002356;
}
h1,h2,h3{
    color: darkred;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.2em;
}
p{color:#8A0886}
span{color: #D7DF01}
a{color:#848484}
p a{color:#F5A9F2}
p span{color: darkturquoise}