#destacado{
    color: #0B3B17;
}
#nuevo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: #F4FA58;
}
.aviso{background-color: #F6CECE;}
p.aviso{color:#B40431}
#diferente{font-size: large;color: #F7D358;}